header {
  display: flex;
  flex-direction: column;
  margin-top: 75px;
  margin-bottom: 90px;
  flex-grow: 1;
  justify-content: center; /*Quipu DB 위치 조절*/
}
footer {
  font-family: "JalnanGothic";
  color: black;
  margin-bottom: 18px;
}
.lg_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fee32f;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  padding: 0 40px;
}
.lg_logo_Quipu {
  display: flex;
  font-family: "JalnanGothic";
  color: black; /* Quipu DB 색상 조절 */
  font-size: 365%;
  font-weight: bold;
  letter-spacing: 5px;
  word-break: keep-all;
  text-align: center;
  line-height: 1.5;
  @media (max-width: 800px) {
    font-size: 45px;
  }
}
/* .lg_logo_Quipu_changed{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color : black;
    font-size: xxx-large;
    font-weight: bold;
  } */
.lg_box_login {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  margin-bottom: 30px;
  font-size: large;
  background-color: #fee32f;
}
/* .lg_logo_login{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color : white;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
  } */
/* .lg_id{
    display: flex;
    flex-direction: column;
    color : white;
  } */
.lg_password {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: black;
  font-family: "JalnanGothic";
}

.lg_password label {
  @media (max-width: 800px) {
    display: none;
  }
}

.lg_password button {
  display: none;
  width: 180px;
  font-size: medium;
  background-color: black;
  color: white;
  border: none;
  padding: 5px 0;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  @media (max-width: 800px) {
    display: block;
  }
}

.lg_input_password {
  margin-top: 10px;
  background-color: #fee32f;
  color: #0a4ddc;
  margin-bottom: 10px;
  width: 180px;
  box-sizing: border-box;
  font-size: medium;
  padding: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255, 0.8);
  text-align: center;
}

.lg_copyright {
  font-size: large;
  text-align: center;
  line-height: 1.5;

  @media (max-width: 800px) {
    font-size: 13px;
  }
}

.lg_copyright br {
  display: none;

  @media (max-width: 800px) {
    display: block;
  }
}
.Quipu {
  color: #0a4ddc;
}
