/* 드롭다운 디자인 */
.select{
  display: flex;
  align-items: center;
  font-family: "Nanum Gothic", sans-serif;
  position: relative;
  padding: 7px;
  font-size: 11px;
  order: 1;
  z-index: 1;
  color: black;
}

.db-container {
  background-color: white;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.db-logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: calc(100vh - 60px);
  width: 150px;
  font-family: 'JalnanGothic';
  background-color: #fee32f;
  color: black;
  font-size: 40px;
  padding: 30px 2% 30px 2%;
}

.db-logout{
  font-size: 25px;
}

.bottombox {
  display: flex;
  height: 83vh;
  width: 70%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  box-shadow: 2px 2px 10px #bdbdbd;
  border-radius: 2px;
}

.buttonlist {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.buttonlist button:not(:last-child) {
  margin-right: 5px;
}

.buttonlist button {
  display: inline-block;
  white-space: nowrap;
  padding: 10px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 15px;
  border-radius: 2px;
  color: #2c221a;
  background-color: #fee32f;
  border: none;
  outline: none;
  cursor: pointer;
}

.dbbox {
  font-family: "Nanum Gothic", sans-serif;
  display: flex;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: auto;
  order: 2;
  z-index: 0;
}

.dbbox table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 20px;
}

.dbbox td, th {
  font-size: 15px;
  border: 0.5px solid;
  padding: 4px;
  text-align: center;
}

.dbbox th {
  padding: 2px 2  px;
  color: black;
  background-color: white;
  border: 0.1px solid black;
  position: sticky;
  top: 0;
  z-index: 2;
}

.dbbox tr {
  width: 100%;
  background-color: white;
}

.dbbox tr:hover {
  background-color: #ececec;
}

.phonenumber {
  cursor: pointer;
  /* text-decoration: underline; */
}

.phonenumber p {
  color: #0F6292;
}

.phonenumber:hover p {
  color: blue;
}

.name {
  cursor: pointer;
  /* text-decoration: underline; */
  background-color: #E8E8BD;
}

.name:hover {
  background-color: #E8E76F;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
}

.modal p {
  margin: 10px;
}

.modal-content {
  background-color: white;
  padding: 20px 20px 10px 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  border-radius: 2px;
  position: relative;
}

.modal-content h2 {
  margin-top: 0;
}

.closebutton {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.closebutton:hover,
.closebutton:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.prevnextbutton {
  display: flex;
  justify-content: center;
}

.prev-button, .next-button {
  color: #aaa;
  border: none;
  background-color: white;
  padding: 0 10px 0 10px;
  cursor: pointer;
  margin: 0;
  font-size: 20px;
}

.prev-button:hover, .next-button:hover {
  color: black;
}


@media (max-width: 932px) {
  /* 드롭다운 디자인 */
  .select{
    padding: 0 5px 0;
    margin-bottom: 0;
    font-size: 12px;
    order: 1;
    z-index: 1;
    color: black;
  }

  /* 표 요소 줄이기 */
  .dbbox th:nth-child(5),
  .dbbox th:nth-child(6),
  .dbbox td:nth-child(5),
  .dbbox td:nth-child(6){
    display: none;
  }

  /* 박스 크기 줄이기 */
  .bottombox {
    height: 60vh;
    width: 60%;
    padding: 10px;
    justify-content: center;
  }

  /* 버튼 위치 바꾸기 */
  .buttonlist {
    order: 2;
    margin: 10px 0 0 0;
    padding: 2px;
  }

  .dbbox{
    order: 1;
  }

  @media (max-width: 768px){
    .db-logo {
      justify-content: left;
      align-items: center;
      padding: 10px 0 10px 50px;
      height: 50px;
      width: 100%;
    }

    .db-container {
      flex-direction: column;
    }

    .bottombox {
      padding: 20px;
      margin: auto;
    }
  }
}